!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    - base_path = ''
    - base_path << Rails.application.config.assets.prefix
    - base_path << asset_path('alloy-editor/')
    %script
      window.ALLOYEDITOR_BASEPATH = "#{base_path}"
      window.CKEDITOR_BASEPATH = "#{base_path}";
    %title FlexyNote
    = favicon_link_tag '/flexy-chan.jpg'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{'data-controller' => "#{controller_name}", 'data-action' => "#{action_name}"}
    = asset_path('application.js')
    %br
    = asset_path('components.js')
    %br
    = asset_path('alloy-editor/en.js')
    %br
    = asset_path('alloy-editor/config.js')
    %br
    = asset_path('alloy-editor/skins/moono/editor.css')
    %br
    = asset_path('alloy-editor/lang/en.js ')
    = yield
