!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    -# - base_path = ''
    -# - if ENV['PROJECT'] =~ /editor/i
    -#   - base_path << "/#{Rails.root.basename.to_s}/"
    -# - base_path << Rails.application.config.assets.prefix
    -# - base_path << '/alloy-editor/'
    - if Rails.env.production?
      - base_path = "https://morning-stream-6277.herokuapp.com/alloy-editor/";
    - else 
      - base_path = ''
      - base_path << Rails.application.config.assets.prefix
      - base_path << asset_path('alloy-editor/')
    %script
      console.log("#{base_path}")
      var CKEDITOR_BASEPATH = "#{base_path}";
    %title FlexyNote
    = favicon_link_tag '/flexy-chan.jpg'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{'data-controller' => "#{controller_name}", 'data-action' => "#{action_name}"}
    = yield
